* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
}

.word {
  margin: 0.25em;
  display: inline-block;
}
.active {
  background-color: #dddddd;
}
.correct {
  color: green;
}
.incorrect {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.racing-page {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.word-container {
  font-size: 1.5rem;
  width: 100%;
  height: 133px;
  margin-left: unset;
  padding-bottom: 1em;
  user-select: none;
  max-width: 1200px;
  overflow: hidden;
}
.row {
  position: relative;
  top: 1px;
}
.block {
  display: block;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  display: grid;
  background-color: blue;
}

#header {
  display: grid;
  background-color: blue;
}
