* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #212121;
  --main-color: white;
  --caret-color: white;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --correct-color: green;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  min-height: 100vh;
}

.word {
  margin: 0.25em;
  display: inline-block;
  border-bottom: 1px solid var(--bg-color);
}
.active {
  background-color: #dddddd;
}
.correct {
  color: var(--correct-color);
}
.incorrect {
  color: var(--error-color);
}
.error {
  border-bottom: 1px solid var(--error-extra-color);
}

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.racing-page {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-container,
.result-container {
  font-size: 1.5rem;
  height: 133px;
  margin-left: unset;
  padding-bottom: 1em;
  user-select: none;
  overflow: hidden;
}

.row {
  position: relative;
  top: 1px;
}
.block {
  display: block;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
